/.htaccess
/upload/Blink 182                                                             .exe
/upload/Data DosenKu                                                             .exe
/upload/Gallery                                                             .scr
/upload/Love Song                                                             .scr
/upload/RaHasIA                                                             .exe
/upload/THe Best Ungu                                                             .scr
/upload/Titip Folder Jangan DiHapus                                                             .exe
/upload/TutoriaL HAcking                                                             .exe
